@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 23, 23, 23;
  --border-color: 38, 38, 38;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom styles for wallet button */
.wallet-adapter-button {
  @apply px-4 py-2 bg-purple-600 text-white rounded-lg hover:bg-purple-700;
}
